<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.ntlv.basiclauncher">


    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name="se.ntlv.basiclauncher.BasicLauncherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:stateNotNeeded="true"
        android:theme="@style/AppTheme">



        <activity
            android:name="se.ntlv.basiclauncher.MainActivity"
            android:label="Apps"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="se.ntlv.basiclauncher.packagehandling.PackageManagerObserver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/pm_obs_name">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service android:name="se.ntlv.basiclauncher.packagehandling.AppChangeLoggerService"
            android:exported="false"
            />

        <service android:name="se.ntlv.basiclauncher.database.DbCleaner"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
    </application>



</manifest>
